/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

#nav {
  margin: 1rem;
}

.task-wrapper {
  border-top: 0.2px solid rgb(230,236,240);
  border-left: 0.2px solid rgb(230,236,240);
  border-right: 0.2px solid rgb(230,236,240);
  padding: 15px;
}

.task-wrapper:last-child {
  border-bottom: 0.2px solid rgb(230,236,240);
}

#weekInterval {
  display: none;
}

